{% extends 'base.html' %}
{% load humanize %}
{% load mathfilters %}
{% load custom_tags %}
{% load static %}
{% block content %} 
<style>
    .product-pic{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
    .protitle{
        font-size: 20px;
        color: black;
    }
    
    .rating{
        font-size: 17px;
        display: block;
        border: none;
        margin-bottom: 10px;
        background-color: transparent;
        color:blue;
    }
    .completed-rating{
        font-size: 17px;
        color: green;
        font-weight: bold;
    }
</style>

<div class="container customcon">
    <div class="page-subject text-center">구매 내역</div>
    <table class="customtable text-center">
        <thead>
            <tr>
                <th scope="col">순번</th>
                <th scope="col">상품이미지</th>
                <th scope="col">상품명</th>
                <th scope="col">구매가격</th>
                <th scope="col">구매수량</th>
                <th scope="col">총구매가격</th>
                <th scope="col">구매날짜</th>
                <th scope="col">제품평가</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><img src="{{ p.product.getpic }}" class="product-pic"></td>
                <td>
                    {{ p.product.title }}
                </td>
                <td>
                    {{ p.priced|intcomma }}
                </td>
                <td>
                    {{ p.quantity }}
                </td>
                <td>
                    {{ p.priced|mul:p.quantity|intcomma }} Points</div>
                </td>
                <td>
                    {{ p.created_at|date:"Y년 m월 d일 H시 i분" }}
                </td>
                <td>
                    {% if user.ratings.all|filter_by_product_id:p.product.id %}
                        <span class="completed-rating">평가완료</span>
                    {% else %}
                        <form action="{% url 'products:rating' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ p.product.id }}">
                            <select name="rating" id="rating" class="rating">
                                <option value="5">★★★★★</option>
                                <option value="4">★★★★☆</option>
                                <option value="3">★★★☆☆</option>
                                <option value="2">★★☆☆☆</option>
                                <option value="1">★☆☆☆☆</option>
                                <option value="0">☆☆☆☆☆</option>
                            </select>
                            <button class="btn btn-outline-secondary btn-sm">평가하기</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="8">구매하신 상품이 없습니다.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
// JavaScript 코
</script>
{% endblock %}