{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<style>
    .product-pic{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .protitle{
        font-size: 20px;
        color: black;
    }
    .protitle:hover{
        color: blue;
        font-weight: bold;
    }
    img:hover{
        opacity: 0.5;
    }
    .btn-myprod-cancel{
        background-color: transparent;
        border:none;
    }
    .original-price {
        text-decoration: line-through;
    }

    .sale_price {
        margin-left: 10px;
        color: red;
    }
    .avail{
        color: green;
        font-weight: bold;
    }
    .not-avail{
        color: red;
        font-weight: bold;
    }
    .d-icon{
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
</style>
<div class="container customcon">
    <div class="page-subject text-center">찜 목록</div>
    <table class="customtable text-center">
        <thead>
            <tr>
                <th scope="col">순번</th>
                <th scope="col">상품이미지</th>
                <th scope="col">상품명</th>
                <th scope="col">가격</th>
                <th scope="col">재고유무</th>
                <th scope="col">취소</th>
            </tr>
        </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'products:detail' p.id %}"><img src="{{ p.getpic }}" class="product-pic"></a></td>
                <td><a href="{% url 'products:detail' p.id %}" class="protitle">{{ p.title }}</a></td>
                <td>{% if p.sale_price %}<sup class="original-price">{{ p.price|intcomma }}</sup><span class="sale_price">{{ p.sale_price|intcomma }}</span>{% else %}{{ p.price|intcomma }}{% endif %} points</td>
                <td>{% if p.is_avail %}
                    <span class="avail">있음</span>
                    {% else %}
                    <span class="not-avail">없음</span>
                    {% endif %}</td>
                <td>
                    <a href="{% url 'products:mine' p.id %}" class="btn-myprod-cancel"><img src="{% static 'images/delete.png' %}" class="d-icon"></a>
                </td>
            </tr>
            
            {% empty %}
                <tr>
                    <td colspan="6">등록된 상품이 없습니다.</td>
                </tr>
            {% endfor %}
            {% if products %}
                <tr>
                    <td colspan="6">
                        <a href="{% url 'products:buy' %}" class="btn btn-moong">결제 페이지 이동</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<script>
    
</script>
{% endblock %}